<div class="bread-sec about">
  <div>
    <h1>Products</h1>
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="#">Home</a>
      <span class="breadcrumb-item active" aria-current="page">Products</span>
    </nav>
  </div>
</div>

<div class="products">
  <div class="body-color pt-5">
    <!-- Section Title -->
    <h3 class="secondary-txt mx-auto text-center f-semi mb-5">UranusVPN</h3>
    <div class="container pb-4">
      <div class="row mx-0 py-4">
        <div class="col-md-6">
          <img src="./assets/images/products.svg" alt="" class="w-100 prod-img">
        </div>
        <div class="col-md-6">
          <h6 class="f-semi mb-4">
            UranusVPN is an advanced VPN solution which not only can be used to protect local network,
            but it canalso be used by individual to bypass overly restrictive institutionalized firewalls
          </h6>
          <p class="desc fs-13">
            A VPN, or Virtual Private Network, allows you to create a secure connection to another network over the Internet. VPN enables users to send and receive data across shared or public networks as if their computing devices were directly connected to the private network. Privacy is increased
            with a VPN because the user’s initial IP address is replaced with one from the VPN provider. This method allows users to obtain a new IP address from any gateway city the VPN service provides. For example, you may live in London but after connecting to the VPN, you can appear to live in
            Berlin, Chicago, or any number of gateway cities
          </p>
          <p class="desc fs-13">
            When you browse the web while connected to a VPN, your computer contacts the website through the encrypted VPN connection. The VPN forwards the request for you and forwards the response from the website back through the secure connection. VPNs use advanced encryption protocols and secure
            tunneling techniques to encapsulate all online data transfers.
          </p>
        </div>
      </div>

      <div class="benifits-before">
        <h5 class="secondary-txt f-semi mb-4 pt-5">Benefits of using UranusVPN</h5>
        <div class="d-flex justify-content-start align-items-start">
          <img src="./assets/images/icons/check-prod.svg" alt="" class="me-3">
          <div>
            <span class="d-block f-semi">
              Hide Your Browsing Activity from Your Local Network and ISP:
            </span>
            <span class="d-block fs-13 w-75">
              If you’re using a public Wi-Fi connection, your browsing activity is visible to everyone nearby, if they know how to look.
              You can connect to a VPN if you want to hide your browsing activity and improve your security.
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-start align-items-start mt-4">
          <img src="./assets/images/icons/check-prod.svg" alt="" class="me-3">
          <div>
            <span class="d-block f-semi">
              Access blocked websites:
            </span>
            <span class="d-block fs-13 w-75">
              Many websites in some countries are blocked. If you want to access these websites, you can use VPN and open blocked websites. You can even access some geo-restricted websites like Netflix, Pandora, and Hulu which can only be accessed within some specific countries like USA or UK
              without
              VPN. You can open these websites by connecting to the USA or UK VPN.
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Section Title -->
    <h3 class="secondary-txt mx-auto text-center f-semi mt-5 mb-5">Packages and Costs</h3>
    <div class="packages pb-4">
      <div class="container">
        <div class="row mx-0 justify-content-center">
          <!-- Repeatable -->
          <div class="col-md-3 px-1 mb-4">
            <div class="prod-card">
              <h6 class="secondary-txt">1 Month</h6>
              <p class="fs-14">Works on all devices</p>
              <p class="primary-txt f-medium price mb-0">$4.4</p>
              <p class="per">Per Month</p>
              <p class="fs-14">$4.4 Billed every month</p>
              <p class="fs-14">Save 0%</p>

              <div class="px-4 py-3">
                <hr>
              </div>

              <div class="text-left ps-2">
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  Unlimited Data Transfer
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  All Protocols & Servers
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  2 Multi-Logins
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  3 Days Money Back
                </p>
              </div>

            </div>
          </div>
          <!-- Repeatable -->
          <div class="col-md-3 px-1 mb-4">
            <div class="prod-card">
              <h6 class="secondary-txt">3 Month</h6>
              <p class="fs-14">Works on all devices</p>
              <p class="primary-txt f-medium price mb-0">$3.3</p>
              <p class="per">Per Month</p>
              <p class="fs-14"><s style="color: #717171;" class="fs-11">$13.2&nbsp;</s>$10 Billed every 3 month</p>
              <p class="fs-14 secondary-txt f-medium">Save 24%</p>

              <div class="px-4 py-3">
                <hr>
              </div>

              <div class="text-left ps-2">
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  Unlimited Data Transfer
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  All Protocols & Servers
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  2 Multi-Logins
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  3 Days Money Back
                </p>
              </div>

            </div>
          </div>
          <!-- Repeatable -->
          <div class="col-md-3 px-1 mb-4">
            <div class="prod-card">
              <h6 class="secondary-txt">6 Month</h6>
              <p class="fs-14">Works on all devices</p>
              <p class="primary-txt f-medium price mb-0">$2.6</p>
              <p class="per">Per Month</p>
              <p class="fs-14"><s style="color: #717171;" class="fs-11">$26.4&nbsp;</s>$16 Billed every 6 month</p>
              <p class="fs-14 secondary-txt f-medium">Save 40%</p>

              <div class="px-4 py-3">
                <hr>
              </div>

              <div class="text-left ps-2">
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  Unlimited Data Transfer
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  All Protocols & Servers
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  2 Multi-Logins
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  3 Days Money Back
                </p>
              </div>

            </div>
          </div>
          <!-- Repeatable -->
          <div class="col-md-3 px-1 mb-4">
            <div class="prod-card">
              <h6 class="secondary-txt">12 Month</h6>
              <p class="fs-14">Works on all devices</p>
              <p class="primary-txt f-medium price mb-0">$2.08</p>
              <p class="per">Per Month</p>
              <p class="fs-14"><s style="color: #717171;" class="fs-11">$52.8&nbsp;</s>$25 Billed every 3 month</p>
              <p class="fs-14 secondary-txt f-medium">Save 52%</p>

              <div class="px-4 py-3">
                <hr>
              </div>

              <div class="text-left ps-2">
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  Unlimited Data Transfer
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  All Protocols & Servers
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  2 Multi-Logins
                </p>
                <p class="fs-12">
                  <img src="./assets/images/icons/check-package.svg" alt="" class="d-inline-block me-2">
                  3 Days Money Back
                </p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="py-5">
    <!-- Section Title -->
    <h3 class="secondary-txt mx-auto text-center f-semi mb-5">UranusVPN Features</h3>
    <div class="container">
      <div class="row mx-0">
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/support.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">7*24 Technical Support</span>
          </div>
        </div>
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/activation.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">Instant Activation</span>
          </div>
        </div>
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/logs.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">No Logs</span>
          </div>
        </div>
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/no-charge.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">No Extra Charges</span>
          </div>
        </div>
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/money-back.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">3 Days Money Back</span>
          </div>
        </div>
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/switches.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">Unlimited Switches</span>
          </div>
        </div>
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/platforms.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">Works on all OS</span>
          </div>
        </div>
        <!-- Repeatable -->
        <div class="col-md-3 mb-4">
          <div class="d-flex justify-content-start align-items-center" style="height: 40px;">
            <img src="./assets/images/icons/risk.svg" alt="" class="me-3">
            <span class="secondary-txt f-semi fs-16">Risk Free</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>