<div class="bread-sec about">
  <div>
    <h1>About Company</h1>
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="#">Home</a>
      <span class="breadcrumb-item active" aria-current="page">About</span>
    </nav>
  </div>
</div>

<div class="about-page">
  <div class="body-color pt-5">
    <div class="container">
      <div class="row mx-0 py-5">
        <div class="col-md-6">
          <h6 class="f-semi mb-4">
            Uranus Advanced Systems Inc. was established to be a niche communications Service Provider focused on providing high level private WAN services for the mass and mid-sized organisations.
          </h6>
          <p class="desc">
            Uranus Systems has grown to service a significant number of national and foreign clients and currently connects many different types of businesses into the network. We measure our success by the fact that each and every one of our clients is prepared to be a reference client to assist us
            in securing additional business, as well as our record of 100% uptime of our core switch network </p>
          <p class="desc">
            Uranus concentrates on its market niche to provide individuals and professional business grade data services to mid-sized businesses. We provide very high service levels and exceptional value for money for this market. Our credentials are well proven by our existing client base and
            matched
            by our extensive expertise in this area. </p>
          <p class="desc">
            Uranus Advanced Systems is passionate about ensuring our clients get the best technical and commercial deal from the resources of the major carriers by means of our wholesale relationships with all of them. </p>
        </div>
        <div class="col-md-5 offset-md-1">
          <div class="b-about">
            <img src="./assets/images/about-img.png" alt="" class="w-100 about-img">
            <div class="testi">
              <span class="desc">Uranus allows encrypting documents and generating and storing safely their encryption keys</span>
              <span class="author">Ayesha Al Chamy - CEO Uranus</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="container pt-4">
      <!-- Section Title -->
      <h3 class="secondary-txt mx-auto text-center f-semi mb-5">Our Team</h3>
      <div class="row mx-0">
        <!-- Repeatable Card for Team Members -->
        <div class="col-md-2 col-6 px-2 mb-5" *ngFor="let emp of emps">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">{{emp.name}}</span>
            <!-- <span class="position">{{emp.jobTitle}}</span> -->
          </div>
        </div>
        <!-- <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Ayesha Al Chamy</span>
            <span class="position">CEO</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Amy Keita</span>
            <span class="position">CFO</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Kumar Viswanath</span>
            <span class="position">CTO</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Lin Zhang</span>
            <span class="position">SVP of Worldwide Sales</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Ahmad Alezani</span>
            <span class="position">VP of Engineering</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Wei Wang</span>
            <span class="position">Chief Information Officer</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">John Campbell</span>
            <span class="position">VP of Corporate Marketing</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Adelaide Amusala</span>
            <span class="position">Chief Revenue Officer</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Wendy Barnes</span>
            <span class="position">Director of Software Development</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Michel Kouame</span>
            <span class="position">Director of Quality Assurance</span>
          </div>
        </div>
        <div class="col-md-2 col-6 px-2 mb-5">
          <div class="team-card">
            <img src="./assets/images/team-avatar.svg" alt="">
            <span class="name f-bold">Nitika Jaimin</span>
            <span class="position">Database Administrator</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
