<div class="bread-sec about">
  <div>
    <h1>Media</h1>
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="#">Media</a>
      <span class="breadcrumb-item active" aria-current="page">Contact</span>
    </nav>
  </div>
</div>

<div class="body-color pt-5 media">
  <div class="container">
    <div class="row mx-0 py-5">
      <div class="col-md-6 news pe-5">
        <div class="pe-4">
          <!-- Section Title -->
          <h3 class="secondary-txt f-semi mb-5">News</h3>
          <ul class="border-right">
            <li>
              <a href="#">Uranus Advanced Systems appoints Anaya Obaidat to Lead International Growth Strategy</a>
            </li>
            <li>
              <a href="#">Industry 4.0 security and VPN innovations at it-sa 2021</a>
            </li>
            <li>
              <a href="#">Another plea for multi-factor authentication</a>
            </li>
            <li>
              <a href="#">New Version of Secure Enterprise VPN Server</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 blog">
        <!-- Section Title -->
        <h3 class="secondary-txt f-semi mb-5">Blog</h3>
        <ul>
          <li>
            <a href="#">ANOTHER PLEA FOR MULTI-FACTOR AUTHENTICATION</a>
          </li>
          <li>
            <a href="#">THE RISE OF CLOUD-BASED SERVICES FUELS DEMAND FOR MANAGED VPNS</a>
          </li>
          <li>
            <a href="#">AWARENESS IS CRUCIAL – HOW TO PREVENT E-MAIL FRAUD</a>
          </li>
          <li>
            <a href="#">BUSINESS BENEFITS OF STAYING ANONYMOUS ONLINE</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>